<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>DataViewer</string>
    <key>CFBundleIconFile</key>
    <string>DataViewerIcon</string>
    <key>CFBundleIdentifier</key>
    <string>local.data-viewer</string>
    <key>CFBundleName</key>
    <string>DataViewer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Dataset</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.stata.dta</string>
                <string>org.r-project.rds</string>
                <string>com.mathworks.mat-file</string>
            </array>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Stata Dataset</string>
            <key>UTTypeIdentifier</key>
            <string>com.stata.dta</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>dta</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-stata-dta</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>R Serialized Object</string>
            <key>UTTypeIdentifier</key>
            <string>org.r-project.rds</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>rds</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-r-rds</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>MATLAB MAT File</string>
            <key>UTTypeIdentifier</key>
            <string>com.mathworks.mat-file</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mat</string>
                </array>
                <key>public.mime-type</key>
                <string>application/x-matlab-data</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
